@import url(https://fonts.googleapis.com/css?family=Geo&subset=latin);

.preLoadTimeCriticalSprites {
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url("img/bullet.png");
    background-image: url("img/bullet_shoot.png");
}
body {
    margin: 0 auto;
    background-image: url("img/funky-lines.png");
    background-repeat: repeat;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: contain;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
    width: 100%;
    background-image: url("img/grass.png");
}
td {
    padding: 0px;
    min-width: 7px;
    min-height: 10px;
    background-image: url("img/grass.png");
    width: calc(100%/18);
    height: 10%;
    background-size: 100% 100%;
}
.foreground {
    padding-bottom: 100%;
    height: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}
.background {
    z-index: 1;
}
#game {
    margin: 0 auto;
    width: 100vw;
    max-width: 180vh;
    visibility: hidden;
}
#menu {
    visibility: visible;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: calc(-140px/2) 0px 0px calc(-137.844px/2);
    font-size: 20pt;
    font-family: Arial;
    z-index: 100;
}
button {
    background-color: #e5e5e5;
    color: black;
    border: 3px solid #555555;
    border-radius: 3px;
    height: 30px;
    width: 137.844px;
    padding: 0px 0px 0px 0px;
    font-family: 'Geo', bold;
    font-size: 15px;
    -webkit-font-smoothing: none;
}
button:hover {
    background-color: #555555;
    color: white;
}
button:disabled {
    background-color: #ffffff;
    color: #909090;
    border: 3px solid #e5e5e5;
}
#orientationWarning {
    font-size: 30px;
    width: 140px
}
#gameover{
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -31px 0px 0px -68.883px;
    font-size: 20pt;
    font-family: Arial;
    background-color: red;
    z-index: 100;
}
#gamewon{
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -31px 0px 0px -68.883px;
    font-size: 20pt;
    font-family: Arial;
    background-color: green;
    z-index: 100;
}
#playerhp {
    background-color: slategrey;
    position: fixed;
    border-radius: 20px;
    padding: 5px;
    z-index: 1;
    left: 1%;
    top: 1%;
    opacity: 0.6;
}
#controls {
    visibility: hidden;
    position: fixed;
    left: 100px;
    bottom: 5px;
    transform: translateX(-50%);
    width: 192px;
    height: 128px;
}
.dpad {
    width: 64px;
    height: 64px;
    position: absolute;
    opacity: 0.4;
}
.dpad:active {
    opacity: 1;
}
#up {
    top: 0;
    left: 50%;
    margin-left: -32px;
    background: url("img/dpadup.png") center center;
    background-size: cover;
}
#down {
    bottom: 0;
    left: 50%;
    margin-left: -32px;
    background: url("img/dpaddown.png") center center;
    background-size: cover;
}
#left {
    bottom: 0;
    left: 0;
    background: url("img/dpadleft.png") center center;
    background-size: cover;
}
#right {
    bottom: 0;
    right: 0;
    background: url("img/dpadright.png") center center;
    background-size: cover;
}
#levelBuilderControls {
    position: fixed;
    visibility: hidden;
    background-color: slategrey;
    bottom: 10%;
    left: 10%;
    opacity: 0.5;
   padding: 5px;
}
