body {
    background-image: url("img/funky-lines.png");
    background-repeat: repeat;
    height: 100%;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
    width: 100%;
    height: 100%;
}
td {
    width: 6.6666%;
    min-width: 7px;
    height: 10%;
    min-height: 10px;
    background-image: url("img/grass.png");
    padding: 0;
}
.field {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
}
#game {
    width: 90%;
    height: 500px;
    margin: 5% auto 0 auto;
}
#controls {
    visibility: hidden;
    position: fixed;
    left: 150px;
    bottom: 20px;
    transform: translateX(-50%);
    width: 264px;
    height: 175px;
}
.dpad {
    width: 88px;
    height: 88px;
    position: absolute;
}
#up {
    top: 0;
    left: 50%;
    margin-left: -44px;
    background: url("img/dpadup.png") center center;
    ackground-size: cover;
}
#down {
    bottom: 0;
    left: 50%;
    margin-left: -44px;
    background: url("img/dpaddown.png") center center;
    background-size: cover;
}
#left {
    bottom: 0;
    left: 0;
    background: url("img/dpadleft.png") center center;
    background-size: cover;
}
#right {
    bottom: 0;
    right: 0;
    background: url("img/dpadright.png") center center;
    background-size: cover;
}
